.info{
    list-style: none;
    font-size: 20px;
}
.detail-info{
    margin: 16px 0;
}

.detail-info p{
    margin: 24px 0 8px;
}

.detail-info textarea{
    display: block;
    padding: 12px 16px;
    font-size: 15px;
    width: 90%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    display: block;
    padding: 12px 16px;
    font-size: 15px;
    width: 90%;
}

button{
    padding: 6px 16px;
    font-size: 20px;
    background-color: rgb(6, 148, 42);
    color: white;
    border: none;
    border-radius: 8px;
    width: 140px;
    opacity: 0.9;
    margin-top: 20px;
}

button:hover{
    opacity: 1;
}

h2{
    margin: 36px;
}