.info{
    list-style: none;
    font-size: 20px;
}
.detail-info{
    display: grid;
    grid-template-columns: 100px 500px;
    margin: 16px 0;
    align-items: center;
}

input{
    padding: 6px 16px;
    font-size: 20px;
}

button{
    padding: 6px 16px;
    font-size: 20px;
    background-color: rgb(6, 148, 42);
    color: white;
    border: none;
    border-radius: 8px;
    width: 140px;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
}

.change-pass{
    padding-left: 40px;
    margin-top: 48px;
}

.change-pass p{
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}

.change-pass input{
    width: 400px;
    margin-right: 16px;
}