body {
  text-align: center;
}

input {
  display: block;
  margin: 8px auto;
  font-size: 16px;
  padding: 8px 16px;
  width: 300px;
}

button {
  padding: 8px 36px;
  font-size: 20px;
  background-color: rgb(5, 126, 5);
  color: white;
  border: none;
  display: block;
  margin: 20px auto;
  border-radius: 6px;
}

button:hover {
  background-color: rgb(5, 168, 5);
}

.return-login {
  font-size: 22px;
}

.return-login:hover {
  color: blue;
}
