<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/detail-new.css" />
    <title>Bài viết</title>
  </head>
  <body>
    <header>
      <a href="/home" class="logo">
        <img
          src="https://banner2.cleanpng.com/20181201/qbw/kisspng-paper-quill-pen-vector-graphics-book-5c031996c5ed71.3225086515437070308107.jpg"
          alt=""
        />
      </a>
      <div class="heading">Tin tức</div>
      <div class="search"></div>
      <div class="user">
        <a href="/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
      </div>
    </header>
    <div class="content-new">
      <h2 class="title"></h2>
      <img src="" alt="" class="imgurl" />
      <p class="content"></p>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="js/detail-new.js"></script>
    <script src="js/cookies.js"></script>
    <script>
      getDetailNew()
    </script>
  </body>
</html>
