<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/forgot-pass.css" />
    <title>Quên mật khẩu</title>
  </head>
  <body>
    <div class="container">
      <p class="title">Quên mật khẩu</p>
      <div class="main">
        <input type="email" class="email" placeholder="Email đăng nhập" />
        <button onclick="forgot()" class="submit">Gửi</button>
      </div>
      <a href="/login" class="login"> Về trang đăng nhập </a>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="js/forgot-pass.js"></script>
    <script src="js/cookies.js"></script>
  </body>
</html>
