<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/share.css" />
    <link rel="stylesheet" href="css/info-user.css" />
    <title>Thông tin cá nhân</title>
  </head>
  <body>
    <div class="contain">
      <ul class="menu">
        <li class="home">
          <a href="/home">Trang chủ</a>
        </li>
        <li class="profile">
          <a href="/profile">Thông tin cá nhân</a>
        </li>
        <li class="users">
          <a href="/user-management">Quản lý tài khoản</a>
        </li>
        <li class="news">
          <a href="/news">Quản lý bài viết</a>
        </li>
        <li onclick="logout()" class="logout">
          <a href="">Đăng xuất</a>
        </li>
      </ul>
      <div class="main">
        <ul class="info">
          <li class="detail-info">
            <span>ID:</span>
            <input readonly class="id" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Email:</span>
            <input readonly class="email" type="email" value="" />
          </li>
          <li class="detail-info">
            <span>Họ:</span>
            <input class="firstname" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Tên:</span>
            <input class="lastname" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Địa chỉ:</span>
            <input class="address" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>SĐT:</span>
            <input class="phone-number" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Giới tính:</span>
            <input class="sex" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Tuổi:</span>
            <input class="age" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Vai trò:</span>
            <input readonly class="role" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Ngày tạo:</span>
            <input readonly class="creat-at" type="text" value="" />
          </li>
        </ul>
        <button onclick="updateInfoUser()" class="save">Lưu thay đổi</button>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="js/info-user.js"></script>
    <script src="js/cookies.js"></script>
    <script>
      role()
      getInfoUser()
    </script>
  </body>
</html>
