<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/share.css" />
    <link rel="stylesheet" href="css/register.css" />
    <title>Thêm tài khoản mới</title>
  </head>
  <body>
    <div class="contain">
      <ul class="menu">
        <li class="home">
          <a href="/home">Trang chủ</a>
        </li>
        <li class="profile">
          <a href="/profile">Thông tin cá nhân</a>
        </li>
        <li class="users">
          <a href="/user-management">Quản lý tài khoản</a>
        </li>
        <li class="news">
          <a href="/news">Quản lý bài viết</a>
        </li>
        <li onclick="logout()" class="logout">
          <a href="">Đăng xuất</a>
        </li>
      </ul>
      <div class="main">
        <h2>Đăng ký tài khoản mới</h2>
        <ul class="info">
          <li class="detail-info">
            <span>Email:</span>
            <input class="email" type="email" value="" />
          </li>
          <li class="detail-info">
            <span>Họ:</span>
            <input class="firstname" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Tên:</span>
            <input class="lastname" type="text" value="" />
          </li>
          <li class="detail-info">
            <span>Vai trò:</span>
            <div class="radio-role">
              <div><input type="radio" checked name="role" value="1" /> Quản lý</div>
              <div><input type="radio" name="role" value="3" /> Sinh viên</div>
            </div>
          </li>
          <li class="detail-info">
            <span>Mật khẩu:</span>
            <input class="password" type="password" value="" />
          </li>
          <li class="detail-info">
            <span>Nhập lại mật khẩu:</span>
            <input class="confirm-password" type="password" value="" />
          </li>
          <li class="detail-info">
            <button onclick="newAccount()">Đăng ký</button>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="js/register.js"></script>
    <script src="js/cookies.js"></script>
    <script>
      role()
    </script>
  </body>
</html>
